<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/output.css" />
  <title>Buyers Page | Delta Grain Marketing</title>
</head>
<body>
  <header class="bg-offWhite sticky">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/home" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="./img/logo.png" alt="">
        </a>
      </div>
      <div class="lg:flex lg:gap-x-12">
        <a href="/contracts" class="text-sm font-semibold leading-6 text-mainGreen">Contracts</a>
        <a href="/farmers" class="text-sm font-semibold leading-6 text-mainGreen">Farmers</a>
        <a href="/crops" class="text-sm font-semibold leading-6 text-mainGreen">Crops</a>
        <a href="/mills" class="text-sm font-semibold leading-6 text-mainGreen">Mills</a>
        <a href="/buyers" class="text-sm font-semibold leading-6 text-mainGreen">Buyers</a>
      </div>
    </nav>
</header>
<% if (buyers.length >= 1) { %>
<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-mainGreen">Buyers</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all the Buyers on Contract including their name, phone number, and email.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button type="button" class="block rounded-md bg-offWhite px-3 py-2 text-center text-sm font-semibold text-mainGreen shadow-sm hover:bg-mainYellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mainGreen">
          <a href="/buyer">Add Buyer</a></button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-mainGreen">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-mainGreen sm:pl-0">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-mainGreen">Phone Number</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-mainGreen">Email</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-mainGreen">
              <% for (const buyer of buyers) { %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= buyer.name%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= buyer.phone%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= buyer.email%></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="text-center">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-semibold text-gray-900">No Buyers</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating a new Buyer.</p>
    <div class="mt-6">
      <button type="button" class="inline-flex items-center rounded-md bg-offWhite px-3 py-2 text-sm font-semibold text-mainGreen shadow-sm hover:bg-mainYellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mainGreen">
        <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <a href="/buyer">New Buyer</a>
      </button>
    </div>
  </div>
<% } %>
</body>
</html>
